<?xml version="1.0" ?>
<model>
    <name>mnt_fontanilles</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ludovic Mustière</name>
        <email>ludovic.mustiere@ensta-bretagne.org</email>
    </author>
    <description>MNT Fontanilles</description>
</model>
